# Ignore everything
*

# Keep .gitignore
!/.gitignore

# Keep selected root files
!/package.json
!/package-lock.json
!/tsconfig.json
!/.pre-commit-config.yaml
!/README.md
!/AGENTS.md
!/LICENSE

# Allow these directories and everything inside them
!/extensions/
!/extensions/**
/extensions/superset-hooks.ts

!/intercepted-commands/
!/intercepted-commands/**

!/themes/
!/themes/**
